.login_form {
    margin: 4rem auto;
    border: 1px solid gray;
    border-radius: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.login_form h1 {
    margin: -1px;
}

.login_form input {
    height: 1.5rem; 
}

.form_inputs {
    display: flex;
    flex-direction: column;
}

#submit_btn {
    padding: .5rem;
    background-color: #2a3545;
    border: none;
    border-radius: 10px;
    color: white;
}